#about {
  padding: 8rem;
}

.tardis {
  height: 54px;
}

#splash-img {
  display: flex;
  background-image: url("assets/vancour.jpg");
  background-size: cover;
  padding-bottom: 40rem;
  padding-bottom: 40rem;
}

.hello {
  color: white;
  text-shadow: 2px 2px black ;
  margin-left: 40px;
  margin-top: 40px;
}

#social {
  font-size: 46px;
  justify-content: flex-end;
}